<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Great Book</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/style/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/style/fontello.css}" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>
<body>
<div class="page-wrapper with-navbar ">
    <nav class="navbar justify-content-between bg-dark ">
        <div class="d-flex ">
            <a href="/" class=" pt-7 font-size-20 text-white">
                Great Book
            </a>

            <span class="navbar-text text-monospace text-white font-size-14"> Piekary Śląskie</span>

            <ul class="navbar-nav d-none d-md-flex font-weight-semi-bold ">

                <li class="new-item active mt-auto mb-auto">
                    <a href="/#kontakt" class="nav-link text-white">Kontakt</a>
                </li>

            </ul>
        </div>

        <div class="d-flex">
            <button onclick="location='userPanel'" class="btn btn-primary mr-15" th:if="${session.role != null}">
                <i class="icon-user" th:text="${session.role}"></i>
            </button>

            <button onclick="location='myCart'" class="btn btn-primary ml-auto mr-15" th:if="${session.role != null}">
                <i class="icon-basket">Koszyk</i>
            </button>

            <button  onclick="location='login'" class="btn btn-primary text-white ml-auto mr-15" th:if="${session.role == null}">
                <i class="icon-login"> Zaloguj się</i>
            </button>

            <button onclick="location='logout'" class="btn btn-primary text-white ml-auto mr-15" th:if="${session.role != null}">
                <i class="icon-login"> Wyloguj się</i>
            </button>


        </div>
    </nav>
</div>

<div class="content-wrapper bg-dark-light ">

        <div class="d-flex flex-column mt-50">
            <h1 class="text-white ml-15">Koszyk</h1>

            <div class=" d-flex card w-250 h-75 align-self-end" th:inline="text" th:if="${session.booksInCart != null}">
                Cena zamówienia: [[${session.fullOrderPrice}]]
                <form th:action="@{/newOrder}" method="post">
                    <button type="submit" class="btn btn-success align-self-center" >Zamów</button>
                </form>
            </div>

            <div th:if="${session.booksInCart != null}" th:each="book: ${session.booksInCart}" class="card d-flex justify-content-between align-items-center align-self-center bg-light w-750 h-150">

                <span th:inline="text"><b>Tytuł: </b> [[${book.title}]] </span>
                <span th:inline="text"><b>Autor: </b> [[${book.author}]] </span>
                <span th:inline="text"><b>Cena(za szt.): </b> [[${book.price}]] </span>
                <span th:inline="text"><b>Pełna cena: </b> [[${book.fullPrice}]] </span>
                <span th:inline="text"><b>Ilość: </b>[[${book.amount}]]</span>

                <form th:action="@{/deleteFromCart}" method="post">
                    <input type="hidden" name="bookID" th:value="${book.bookID}">
                    <button type="submit" class="btn btn-danger"></button>
                </form>
            </div>


            <div th:if="${session.booksInCart == null}" class="card d-flex justify-content-between align-items-center align-self-center bg-light w-750 h-150">
                <span><h1>Koszyk jest pusty</h1></span>

            </div>
        </div>

</div>


</body>
</html>