<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Great Book</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

  <!-- Styles -->
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
  <link rel="stylesheet" th:href="@{/style/style.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/style/fontello.css}" type="text/css">

</head>
<body>
<div class="page-wrapper with-navbar">
  <nav class="navbar justify-content-between bg-dark ">
    <a href="/" class=" pt-7 font-size-20 text-white">
      Great Book
    </a>

    <span class="navbar-text text-monospace text-white ">Piekary Śląskie</span>

    <ul class="navbar-nav d-none d-md-flex font-weight-semi-bold">
      <li class="new-item active mt-auto mb-auto">
        <a href="/#kontakt" class="nav-link text-white">Kontakt</a>
      </li>

    </ul>

    <button onclick="location='login'" class="btn btn-primary text-white ml-auto mr-15">
      <i class="icon-login"> Zaloguj się</i>
    </button></a>

  </nav>


</div>

<div class="content-wrapper bg-dark-light">
  <div class="d-flex h-full justify-content-center">

    <div class="card bg-primary text-white w-600 h-550 mt-50 shadow">

      <form th:action="@{/registerNewUser}" th:object="${userModel}" method="post" >
        <h2 class="content-title">Rejestracja</h2>

        <div class="form-row row-eq-spacing-sm">
          <div class="col-sm">
            <label for="name" class="required">Imię</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}" placeholder="Imię" required="required">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <span th:if="${loginErrorMessage}" th:text="${loginErrorMessage}"></span>
          </div>
          <div class="col-sm">
            <label for="surname" class="required">Nazwisko</label>
            <input type="text" class="form-control" id="surname" name="surname" th:field="*{surname}" placeholder="Nazwisko" required="required">
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
          </div>
        </div>

        <div class="form-row row-eq-spacing-sm">
          <div class="col-sm">
            <label for="streat" class="required">Ulica</label>
            <input type="text" class="form-control" id="streat" name="street" th:field="*{street}" placeholder="Ulica" required="required">
            <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span>
          </div>
          <div class="col-sm">
            <label for="houseNumber" class="required">Nr domu</label>
            <input type="text" class="form-control" id="houseNumber" name="houseNumber" th:field="*{houseNumber}" placeholder="Nr domu" required="required">
            <span th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}"></span>
          </div>
          <div class="col-sm">
            <label for="flatNumber">Nr mieszkania</label>
            <input type="text" class="form-control" id="flatNumber" name="flatNumber" th:field="*{flatNumber}" placeholder="Nr mieszkania" maxlength="3">
            <span th:if="${#fields.hasErrors('flatNumber')}" th:errors="*{flatNumber}"></span>
          </div>
        </div>

        <div class="form-row row-eq-spacing-sm">
          <div class="col-sm">
            <label for="city" class="required">Miasto</label>
            <input type="text" class="form-control" id="city" name="city" th:field="*{city}" placeholder="Miasto" required="required">
            <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
          </div>
          <div class="col-sm">
            <label for="postalCode" class="required">Kod pocztowy</label>
            <input type="text" class="form-control" id="postalCode" name="postalCode" th:field="*{postalCode}" placeholder="Kod pocztowy" required="required" maxlength="6">
            <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></span>
          </div>
        </div>

        <div class="form-row row-eq-spacing-sm">
          <div class="col-sm">
            <label for="login" class="required">Login</label>
            <input type="text" class="form-control" id="login" name="login" th:field="*{login}" placeholder="Login" required="required">
            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
          </div>
          <div class="col-sm">
            <label for="password" class="required">Hasło</label>
            <input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="Password" required="required">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
          </div>
        </div>

        <div class="form-row row-eq-spacing-sm">
          <div class="col-sm">
            <label for="phoneNumber" class="required">Nr telefonu</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" placeholder="Nr telefonu" value="+48" required="required" maxlength="12">
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
          </div>
          <div class="col-sm">
            <label for="email" class="required">E-mail</label>
            <input type="text" class="form-control" id="email" name="email" th:field="*{email}" placeholder="E-mail" required="required">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
          </div>
        </div>


        <div class="text-right">
          <input type="submit" class="btn btn-success" value="Zarejestruj">
        </div>
      </form>
    </div>
  </div>

  <div class="d-flex position-fixed bottom-0 w-full">
    <footer class="pl-20 bg-dark-light w-full text-white font-weight-semi-bold">
      <span>&copy: Wszelkie prawa zastrzeżone</span>
    </footer>
  </div>
</div>
</body>
</html>